{% extends "_layout.html" %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    
    <label>First Name</label> 
    <input name="first_name">
    <br>

    <label>Last Name</label>
    <input name="last_name">
    <br>

    <label>Email</label>
    <input name="email" type="email">
    <br>

    <label>Password</label>
    <input name="password" type="password">
    <br>

    <label>Date of Birth</label>
    <input name="birthday" type="date">
    <br>

    <label>Profile Picture</label>
    <input name="image" type="file">
    <br>

    <button type="submit">Sign up</button>
    
</form>

{% endblock %}