{% extends "_layout.html" %}

{% block content %}

<h1>{{ result['first_name'] }} {{ result['last_name'] }}</h1>

<img src="{{ result['image'] or 'static/images/default.png' }}" alt="profile" height="200">

<p>Email: <a href="mailto:{{ result['email'] }}">{{ result['email'] }}</a></p>
<p>Birthday: {{ result['birthday'] }}</p>

<a href="/">Return</a>
<br>
<br>
<br>

{% if "logged_in" in session and
    (session['id'] == result['id'] or session['role'] == 'admin')
%}
    <a href="/update?id={{ result['id'] }}">Edit</a>
    <a href="/delete?id={{ result['id'] }}" onclick="return confirm('Are you sure?')" >Delete</a>
{% endif %}

{% endblock %}